In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

# create spark session
spark = (
    SparkSession.builder.appName("sort union and aggregation").getOrCreate()
)

In [2]:
# Emp Data & Schema

emp_data_1 = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"]
]

emp_data_2 = [
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = ["emp_id", "dept_id", "emp_name", "age", "gender", "salary", "hire_date"]

In [3]:
# Create emp DataFrame

emp_data_1 = spark.createDataFrame(data=emp_data_1, schema=emp_schema)
emp_data_2 = spark.createDataFrame(data=emp_data_2, schema=emp_schema)

In [4]:
# Show emp dataframe (ACTION)

emp_data_1.show()
emp_data_2.show()

+------+-------+-------------+---+------+------+----------+
|emp_id|dept_id|     emp_name|age|gender|salary| hire_date|
+------+-------+-------------+---+------+------+----------+
|   001|    101|     John Doe| 30|  Male| 50000|2015-01-01|
|   002|    101|   Jane Smith| 25|Female| 45000|2016-02-15|
|   003|    102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|   004|    102|    Alice Lee| 28|Female| 48000|2017-09-30|
|   005|    103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|   006|    103|    Jill Wong| 32|      | 52000|2018-07-01|
|   007|    101|James Johnson| 42|  Male| 70000|2012-03-15|
|   008|    102|     Kate Kim| 29|Female| 51000|2019-10-01|
|   009|    103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|   010|    104|     Lisa Lee| 27|Female| 47000|2018-08-01|
+------+-------+-------------+---+------+------+----------+

+------+-------+-----------+---+------+------+----------+
|emp_id|dept_id|   emp_name|age|gender|salary| hire_date|
+------+-------+-----------+---+------+------+----------+
|   011|    104| David Park| 38|  Male| 65000|2015-11-01|
|   012|    105| Susan Chen| 31|Female| 54000|2017-02-15|
|   013|    106|  Brian Kim| 45|  Male| 75000|2011-07-01|
|   014|    107|  Emily Lee| 26|Female| 46000|2019-01-01|
|   015|    106|Michael Lee| 37|  Male| 63000|2014-09-30|
|   016|    107|Kelly Zhang| 30|Female| 49000|2018-04-01|
|   017|    105|George Wang| 34|      | 57000|2016-03-15|
|   018|    104|  Nancy Liu| 29|Female| 50000|2017-06-01|
|   019|    103|Steven Chen| 36|  Male| 62000|2015-08-01|
|   020|    102|  Grace Kim| 32|Female| 53000|2018-11-01|
+------+-------+-----------+---+------+------+----------+

In [5]:
emp_data_1.printSchema()
emp_data_2.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- dept_id: string (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

root
 |-- emp_id: string (nullable = true)
 |-- dept_id: string (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [6]:
# UNION and UNION ALL
# select * from emp_data_1 UNION select * from emp_data_2
emp = emp_data_1.unionAll(emp_data_2)

In [7]:
emp.show()

+------+-------+-------------+---+------+------+----------+
|emp_id|dept_id|     emp_name|age|gender|salary| hire_date|
+------+-------+-------------+---+------+------+----------+
|   001|    101|     John Doe| 30|  Male| 50000|2015-01-01|
|   002|    101|   Jane Smith| 25|Female| 45000|2016-02-15|
|   003|    102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|   004|    102|    Alice Lee| 28|Female| 48000|2017-09-30|
|   005|    103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|   006|    103|    Jill Wong| 32|      | 52000|2018-07-01|
|   007|    101|James Johnson| 42|  Male| 70000|2012-03-15|
|   008|    102|     Kate Kim| 29|Female| 51000|2019-10-01|
|   009|    103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|   010|    104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|   011|    104|   David Park| 38|  Male| 65000|2015-11-01|
|   012|    105|   Susan Chen| 31|Female| 54000|2017-02-15|
|   013|    106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|   014|    107|    Emily Lee| 26|Female| 46000|2019-01-01|
|   015|    106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|   016|    107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|   017|    105|  George Wang| 34|      | 57000|2016-03-15|
|   018|    104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|   019|    103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|   020|    102|    Grace Kim| 32|Female| 53000|2018-11-01|
+------+-------+-------------+---+------+------+----------+

In [10]:
# Sort the emp data based on desc Salary
# select * from emp order by salary desc
from pyspark.sql.functions import desc, asc, col

emp_sorted_desc = emp.orderBy(col("salary").desc())
emp_sorted_asc = emp.orderBy(col("salary").asc())

In [11]:
emp_sorted_desc.show()

+------+-------+-------------+---+------+------+----------+
|emp_id|dept_id|     emp_name|age|gender|salary| hire_date|
+------+-------+-------------+---+------+------+----------+
|   013|    106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|   007|    101|James Johnson| 42|  Male| 70000|2012-03-15|
|   011|    104|   David Park| 38|  Male| 65000|2015-11-01|
|   015|    106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|   019|    103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|   005|    103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|   009|    103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|   017|    105|  George Wang| 34|      | 57000|2016-03-15|
|   003|    102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|   012|    105|   Susan Chen| 31|Female| 54000|2017-02-15|
|   020|    102|    Grace Kim| 32|Female| 53000|2018-11-01|
|   006|    103|    Jill Wong| 32|      | 52000|2018-07-01|
|   008|    102|     Kate Kim| 29|Female| 51000|2019-10-01|
|   018|    104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|   001|    101|     John Doe| 30|  Male| 50000|2015-01-01|
|   016|    107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|   004|    102|    Alice Lee| 28|Female| 48000|2017-09-30|
|   010|    104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|   014|    107|    Emily Lee| 26|Female| 46000|2019-01-01|
|   002|    101|   Jane Smith| 25|Female| 45000|2016-02-15|
+------+-------+-------------+---+------+------+----------+

In [12]:
emp_sorted_asc.show()

+------+-------+-------------+---+------+------+----------+
|emp_id|dept_id|     emp_name|age|gender|salary| hire_date|
+------+-------+-------------+---+------+------+----------+
|   002|    101|   Jane Smith| 25|Female| 45000|2016-02-15|
|   014|    107|    Emily Lee| 26|Female| 46000|2019-01-01|
|   010|    104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|   004|    102|    Alice Lee| 28|Female| 48000|2017-09-30|
|   016|    107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|   018|    104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|   001|    101|     John Doe| 30|  Male| 50000|2015-01-01|
|   008|    102|     Kate Kim| 29|Female| 51000|2019-10-01|
|   006|    103|    Jill Wong| 32|      | 52000|2018-07-01|
|   020|    102|    Grace Kim| 32|Female| 53000|2018-11-01|
|   012|    105|   Susan Chen| 31|Female| 54000|2017-02-15|
|   003|    102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|   017|    105|  George Wang| 34|      | 57000|2016-03-15|
|   009|    103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|   005|    103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|   019|    103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|   015|    106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|   011|    104|   David Park| 38|  Male| 65000|2015-11-01|
|   007|    101|James Johnson| 42|  Male| 70000|2012-03-15|
|   013|    106|    Brian Kim| 45|  Male| 75000|2011-07-01|
+------+-------+-------------+---+------+------+----------+

In [14]:
# Aggregation
# select dept_id, count(employee_id) as total_dept_count from emp_sorted group by dept_id 
from pyspark.sql.functions import count

emp_count = emp_sorted_desc.groupBy("dept_id").agg(count("emp_id").alias("total_dept_count"))

In [15]:
emp_count.show()

+-------+----------------+
|dept_id|total_dept_count|
+-------+----------------+
|    101|               3|
|    102|               4|
|    103|               4|
|    104|               3|
|    105|               2|
|    107|               2|
|    106|               2|
+-------+----------------+

In [16]:
# Aggregation
# select dept_id, sum(salary) as total_dept_salary from emp_sorted group by dept_id 
from pyspark.sql.functions import sum

emp_sum = emp_sorted_desc.groupBy("dept_id").agg(sum("salary").alias("total_dept_salary"))

In [17]:
emp_sum.show()

+-------+-----------------+
|dept_id|total_dept_salary|
+-------+-----------------+
|    101|         165000.0|
|    107|          95000.0|
|    104|         162000.0|
|    102|         207000.0|
|    103|         232000.0|
|    106|         138000.0|
|    105|         111000.0|
+-------+-----------------+

In [18]:
# Aggregation with having clause
# select dept_id, avg(salary) as avg_dept_salary from emp_sorted  group by dept_id having avg(salary) > 50000
from pyspark.sql.functions import avg

emp_avg = emp_sorted_desc.groupBy("dept_id").agg(avg("salary").alias("avg_dept_salary")).where("avg_dept_salary > 50000")

In [19]:
emp_avg.show()

+-------+---------------+
|dept_id|avg_dept_salary|
+-------+---------------+
|    101|        55000.0|
|    104|        54000.0|
|    102|        51750.0|
|    103|        58000.0|
|    106|        69000.0|
|    105|        55500.0|
+-------+---------------+

In [20]:
# Bonus TIP - unionByName
# In case the column sequence is different
emp_data_2_other = emp_data_2.select("emp_id", "salary", "dept_id", "emp_name", "hire_date", "gender", "age")

emp_data_1.printSchema()
emp_data_2_other.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- dept_id: string (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

root
 |-- emp_id: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- dept_id: string (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- hire_date: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)

In [24]:
emp_fixed = emp_data_1.unionByName(emp_data_2_other)  # schema of emp_data_1 will supersede schema of emp_data_2_other

In [25]:
emp_fixed.show()

+------+-------+-------------+---+------+------+----------+
|emp_id|dept_id|     emp_name|age|gender|salary| hire_date|
+------+-------+-------------+---+------+------+----------+
|   001|    101|     John Doe| 30|  Male| 50000|2015-01-01|
|   002|    101|   Jane Smith| 25|Female| 45000|2016-02-15|
|   003|    102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|   004|    102|    Alice Lee| 28|Female| 48000|2017-09-30|
|   005|    103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|   006|    103|    Jill Wong| 32|      | 52000|2018-07-01|
|   007|    101|James Johnson| 42|  Male| 70000|2012-03-15|
|   008|    102|     Kate Kim| 29|Female| 51000|2019-10-01|
|   009|    103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|   010|    104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|   011|    104|   David Park| 38|  Male| 65000|2015-11-01|
|   012|    105|   Susan Chen| 31|Female| 54000|2017-02-15|
|   013|    106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|   014|    107|    Emily Lee| 26|Female| 46000|2019-01-01|
|   015|    106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|   016|    107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|   017|    105|  George Wang| 34|      | 57000|2016-03-15|
|   018|    104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|   019|    103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|   020|    102|    Grace Kim| 32|Female| 53000|2018-11-01|
+------+-------+-------------+---+------+------+----------+

In [26]:
emp.count()

20

In [27]:
spark.stop()